body {
  background-color: #22A7F0;
  padding-top: 65px;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

.center {
  text-align: center;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  padding-top: 9px;
  font-weight: bold;
}

#long-url-form {
  margin-top: 130px;
}

.hidden {
  display:none;
}

.alert {
  clear:both;
  color: red;
}

.input-group-addon, .input-group-btn {
  vertical-align: bottom !important;
}

.col-centered{
    float: none;
    margin: 0 auto;
}
