{% load pipeline %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Flocabuminifier</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- styles -->
    {% stylesheet 'mysite_css' %}
    {% load bootstrap3 %}
    {% bootstrap_css %}

  </head>
  <body>

    <div class="container">

      <header class="navbar navbar-fixed-top navbar-inverse">
        <div class="container">
          <a href="/" id="logo">Flocabuminifier</a>
          <nav>
            <ul class="nav navbar-nav navbar-right">
              <li><a>Thing 1</a></li>
              <li><a>Thing 2</a></li>
            </ul>
          </nav>
        </div>
      </header>

      {% block content %}{% endblock %}

    </div>

    <!-- JavaScript scripts -->
    {% javascript 'mysite_js' %}
  </body>
</html>
